.firstnav{
    display: flex;
    justify-content: space-between;
    margin-block-end: 10%;
    width: 90%;
    margin-block-start: 2%;
    padding-left:3%;
}
.firstsub{
    border: 1px;
    border-radius: 32px;
    width: 9%;
    background-color: pink;
    color: white;
    font-weight: 700;

}

.one1a{
    text-align: center;
    font-size: x-large;
    margin-block-end: 4%;
}


.secondbtn{
    width: 20%;
    background-color: rgb(163, 55, 73);
    color: white;
    border-radius: 22px;
    padding: 1.2rem;
    border: 1px;
    font-weight: 700;
    text-align: center;
       
}
.mockups{
    text-align: center;
    margin-block-end: 4%;
    /* border: 1px solid; */
    margin-bottom: -1px;
}
.screen{
    width: 60%;
    
}

.con3{
    display: flex;
    padding-top: 2%;
    justify-content: space-evenly;
    margin-block-end: 5%;
    background-image: url(./bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    /* border: 1px solid; */
    height: 350px;
    margin-bottom: -1px;
}

.p1 h2{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.p2 h2{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.con4{
    display: flex;
    justify-content: space-evenly;
    padding-left: 7%;
    margin-block-end: 5%;
    /* border: 1px solid; */
    margin-bottom: -1px;
    background-color: #F6FBFF;
    
}
.togeda{
    /* margin-left: 10%; */
    /* padding: 10%; */
    width: 51%;
    padding-top: 90px;
    
    
}

.togeda h2{
    font-size: 250%;
    
}
.togeda p{
    font-size: medium;
}

.grow2{
    width: 55%;
    margin-left: 12%;

}

.con5{
    display: flex;
    justify-content: space-evenly;
    padding-left: 7%;
    margin-block-end: 5%;
    /* border: 1px solid; */
    padding-top: 10%;
    background-image: url(./bg-section-bottom-desktop-1.svg), url(./bg-section-top-desktop-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top,bottom;
    padding-bottom: 15%;
    margin-bottom: -1px;
    
}

.flow{
    width: 55%;
    
}

.conva{
    width: 80%;
    margin-top: 4%;
    
}
.conva h2{
    font-size: 250%;
}
.conva p{
    font-size: medium;
}

.con6{
    display: flex;
    justify-content: space-evenly;
    background-color: #F6FBFF;
    padding-left: 7%;
    margin-block-end: 3%;
    /* border: 1px solid; */
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: -20px;
    
    
}

.six1{
    width: 51%;
    padding-top: 90px;
}
.six1 h2{
    font-size: 250%;
    
}
.six1 p{
    font-size: medium;
}
.six3{
    width: 55%;
    margin-left: 12%;
}
.con7{
    text-align: center;
    /* margin-block-end: 1%; */
    /* border: 1px solid; */
    background-image: url(./bg-footer-top-desktop.svg),url(./bg-section-bottom-desktop-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom, top;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    padding-bottom: 90px;
    
    

}

.con7 h2{
    font-size: 250%;
    padding-left: ;
    text-align: center;
    /* margin-block-start: 20%; */
    padding-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    margin: -1%;
    margin-block-end: 1%;
    
    
    
}
.lastsub{
    width: 20%;
    background-color: rgb(163, 55, 73);
    color: white;
    border-radius: 22px;
    padding: 1.2rem;
    border: 1px;
    font-weight: 700;
    text-align: center;
    margin-block-end: 18%;
 
}


.con8{
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    background-color: #00252E;
    color: white;
    margin: -1px;
    
 
}

.input{
    border-radius: 9px;
    text-align: center;
    height: 17%;
    width: 60%;
    margin-block-end: 2%;
}

.subs{
    width: 30%;
    text-align: center;
    height:22% ;
    border-radius: 9px;
    font-size: medium;
    margin-left: 6%;
    background-color: rgb(163, 55, 73);
    color: white;
    font-weight: 500;
}

.whatsapp{
    background-color:yellowgreen;
    color: white;
    font-weight: 700;
    text-align: center;
    width: 10%;
    height: 60px;
    position: fixed;
    left: 85%;
    bottom: 5%;
    border-radius: 17px;
    box-shadow: 2px 1px 6px;
}

